          /* Setup */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@700&display=swap');

*{
  box-sizing: border-box;
  /* background-color: rgba(0, 195, 255, 0.067); */
  outline: none;
}

:root{
  --color-primary-900: #03045E;
  --color-primary-600: #0098FF;
  
  --color-neutral-100: #F6F6F6;
  
  --color-background: #F7F8FD;
}

html{
  min-height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.4375rem;  
  color: var(--color-primary-900);
}

h2{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--color-primary-900);
}

h3{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3125rem;
  color: var(--color-primary-900);
}

h4{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--color-primary-900);
}

h5{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--color-primary-900);
}

h6{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
  color: var(--color-primary-900);
}

p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-primary-900);
  opacity: .65;
  position: relative;
  z-index: 0;
}

a{
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins";
}

          /* Body */

.no-scroll{
  overflow: hidden;
}

  /* container-1 */

.container-1{
  min-height: 100vh;
  background-color: var(--color-background);
  width: 100%;
  padding: 2rem 2rem;
  overflow-x: hidden;
}

/* Header */

.container-1 header{
  max-width: 80rem;
  margin: 0 auto;
}

.container-1 nav{
  height: 3.125rem;
  display: flex;
  align-items: center;
  height: max-content;
  margin-bottom: 7.5625rem;
}

.container-1 nav img{
  width: 12.1875rem;
}

.container-1 nav a{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-primary-900);
  margin: 0 1.75rem;
}

.container-1 nav > a:not(:last-child)::after{
  content: '';
  position: absolute;
  bottom: -0%;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  border-radius: 100vmax;
  transform-origin: right;
  transform: scalex(0);
  background-color: var(--color-primary-900);
  transition: .25s transform ease;
}

.container-1 nav > a:focus::after,
.container-1 nav > a:hover::after{
  transform-origin: left;
  transform: scalex(1);
}

.container-1 nav a:first-of-type{
  margin-left: auto;
}

.container-1 nav a:last-of-type{
  padding: .6875rem 2.1875rem;
  margin-right: 0;
  background-color: var(--color-primary-900);
  color: white;
  border: 1px solid currentColor;
  border-radius: .3125rem;
  border: .1rem solid currentColor;
  transition: all .25s ease;
}

.container-1 nav > a:last-of-type:hover,
.container-1 nav > a:last-of-type:focus{
  background-color: var(--color-background);
  color: var(--color-primary-900);
  font-weight: 600;
}

/* mobile */


.container-1 nav.mobile {
  display: none;
  position: fixed;
  background-color: white;
  right: 0;
  padding: 1rem;
  top: 0;
  left: 0;
  height: max-content;
  z-index: 7;
  box-shadow: #0001 0 0 1rem;
}

/* burger */

.container-1 .mobile .btn {
  margin-right: .5rem;
  --size: 3rem;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  display: grid;
  place-items: center;
  margin-left: auto;
  z-index: 10;
}

.container-1  .btn .btn-burger {
  position: relative;
  background-color: var(--color-primary-900);
  width: 35px;
  height: 5px;
  border-radius: 100vmax;
  transition: all .5s ease;
}

.container-1 .btn .btn-burger::after,
.container-1 .btn .btn-burger::before {
  content: "";
  position: absolute;
  background-color: var(--color-primary-900);
  width: 35px;
  height: 5px;
  border-radius: 30vmax;
  transition: all .5s ease;
}

.container-1 .btn .btn-burger::before{
  transform: translatey(calc(var(--size) / -5));
}

.container-1 .btn .btn-burger::after{
  transform: translatey(calc(var(--size) / 5));
}

/* when open class is active */

.container-1 .btn.open > .btn-burger::after{
  transform: rotate(-42.5deg) ;
}

.container-1 .btn.open > .btn-burger::before{
  transform: rotate(42.5deg) ;
  
}

.container-1 .btn.open > .btn-burger{
  background-color: transparent;
}

/* slide */

.slider {
  position: fixed;
  width: 100vw;
  top: 4.5rem;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 6;
  transform: translate(-105%);
  transition: all .75s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.slider.slide {
  transform: translate(0);
}

.slider a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-primary-900);
  margin: 0 1.75rem;
}

.slider a:not(:last-child):after{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 100vmax;
  transform-origin: right;
  transform: scalex(0);
  background-color: var(--color-primary-900);
  transition: .8s transform ease .6s;
}

.slider.slide a::after,
.slider.slide a::after{
  transform-origin: center;
  transform: scalex(1);
}

.slider a:last-of-type{
  padding: .6875rem 2.1875rem;
  background-color: var(--color-primary-900);
  color: white;
  border-radius: .3125rem;
  border: .1rem solid currentColor;
  transition: all .25s ease;
}


/* Main */
         
.container-1 main{
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.container-1 main > *{
  width: 50%;
}

.container-1 main section{
  padding-right: 2.21875rem;
}

.container-1 main section p{
  padding-bottom: 2.25rem;
}

.container-1 main section a{
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'Poppins';
  padding: 1rem 2.5rem;
  background-color: var(--color-primary-600);
  border-radius: .3125rem;  
  border: .1rem solid currentColor;
  transition: all .25s ease;
}

.container-1 main section a:focus,
.container-1 main section a:hover{
  background-color: var(--color-background);
  color: var(--color-primary-600);
}

.container-1 main img{
  padding-left: 2.21875rem;
}

  /* container-2 */

.container-2{
  margin: 9.375rem 0;
  max-width: 84rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sub-container {
  width: 100%;
}

.sub-container > div{
  display: flex;
  width: 100%;
}

.container-2 input{
  display: inline-block;
  padding: 1.125rem 1.25rem;
  outline: none;
  background-color: var(--color-neutral-100);
  border: none;
  border-radius: .3125rem 0 0 .3125rem;
  width: 100%;
  opacity: 1;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'Poppins';
  color: var(--color-primary-900);
}

.container-2 input::placeholder{
  opacity: .5;
  font-family: 'poppins';
  color: var(--color-primary-900);
}

.container-2 a{
  background-color: var(--color-primary-600);
  padding: 1rem 2.25rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'Poppins';
  border-radius: 0 .3125rem .3125rem 0;
  white-space: nowrap;
  border: .1rem solid currentColor;
  transition: all .25s ease;
}

.container-2 a:hover,
.container-2 a:focus{
  background-color: var(--color-background);
  color: var(--color-primary-600);
}

.container-2 a:hover,
.container-2 a:focus{
  background-color: var(--color-background);
  color: var(--color-primary-600);
}

.container-2 .price{
  flex: 1;
  /* max-width: max-content; */
  display: grid;
  flex-wrap: wrap;
  grid-template: auto auto / repeat(3, minmax(6rem, 20%));
  padding-left: 3rem;
  gap: 2rem 2.3125rem;
  margin-top: 1.75rem;
}

.container-2 .price h5{
  margin: 0;
  color: var(--color-primary-600);
  max-width: 8.375rem;
}

.container-2 .price p{
  margin: 0.25rem;
  font-size: .875rem;
  white-space: nowrap;
}
  /* container-3 */

.container-3{
  background-color: #fdfdfd;
  width: 100%;
  max-width: 84rem;
  min-height: 100vh;
  padding: 9rem 2rem;
  /* margin: 0 2rem; */
  display: grid;
  place-items: center;
}

.container-3 > div{
  display: grid;
  text-align: center;
  grid-template: repeat(2, auto) / repeat(3, auto);
  gap: 5rem 5rem;
  margin-top: 3.75rem;
}

.container-3 > div > div {
  display: flex;
  flex-direction: column;
}

.container-3 p {
  margin-top: auto;
}

.container-3 img{
  padding: 1.25rem;
  border-radius: .625rem;
  background-color: var(--color-neutral-100);
}

  /* container-4 */

.container-4{
  padding: 9rem 2rem;
  margin: 0 2rem;
  max-width: 84rem;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.container-4 > div{
  display: grid;
  grid: auto / auto auto auto;
  /* padding: 2.5rem; */
  gap: 1.875rem;
}

.container-4 > div > div{
  background-color: #FBFBFB;
  border-radius: .225rem;
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.container-4 > div > div h5{
  margin-top: 1.875rem;
  margin-bottom: -0.65rem;
}


.container-4 > div > div p{
  font-size: 1.125rem;
  font-weight: 400;
}

.container-4 > div > div p:last-of-type{
  font-size: .875rem;
}

  /* container-5 */

.container-5{
  background-color: var(--color-primary-600);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6.25rem 0;
  text-align: center;
}


.container-5 div :where(h2, p){
  margin-top: 0;
  color: white;
}

.container-5 div p{
  margin-top: -2rem;
  font-family: 'Poppins';
  opacity: 1;
  font-weight: 300;
}

  /* container-6 */

.container-6{
  width: min(80rem, 100%);
  padding: 8rem 2rem;
  text-align: center;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.container-6 h2{
  margin-bottom: 3.5rem;
}

.container-6 p{
  font-size: .875rem;
}

.container-6 a{
  color: white;
  background-color: var(--color-primary-900);
  padding: .6125rem 2rem;
  border-radius: .3125rem;
}

.container-6 > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-6 > div > div{
  flex:0 0 max(17.5rem, 25%);
}
.container-6 > div > div a{
  margin: 2rem 0;
  white-space: nowrap;
  transition: all .25s ease;
}

.container-6 > div > div a:focus,
.container-6 > div > div a:hover{
  border: .15rem solid currentColor;
  background-color: var(--color-background);
  color: var(--color-primary-900);
}


.container-6 > div > div p{
  padding-bottom: .6125rem;
  padding-top: -.125rem;
}

.container-6 > div > div:nth-of-type(2) a {
  border: solid 1px transparent;
}

.container-6 > div > div:nth-of-type(2) {
  box-shadow: #0004 0 0 .8rem;
}

.container-6 > div > div:nth-of-type(2),
.container-6 > div > div:nth-of-type(2) h3,
.container-6 > div > div:nth-of-type(2) h6{
  background-color: var(--color-primary-600);
  color: white;
}

.container-6 > div > div:nth-of-type(2) *:not(a, h3, h6){
  border-bottom: .125rem solid white;
  color: white ;
  font-weight: 400;
  opacity: 1;
}

.container-6 > div > div *:not(a, h3, h6){
  border-bottom: .125rem solid white;
}

  /* container-7 */

.container-7{
  max-width: min(84rem, 100%);
  background-color: var(--color-background);
  padding-top: 2rem;
}

.container-7:not(img){
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem 2rem;
  width: 80rem;
  font-size: 1rem;
  color: var(--color-primary-900);
}

.container-7 > div:not(:last-of-type){
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-7 > div:last-of-type {
  display: flex;
}

.container-7 > div > div {
  max-width: 50%;
}

.container-7 > div:not(:last-child){
  flex: 1;
}

.container-7 > div:last-child{
  gap: 1rem;
}

.container-7 div p{
  font-size: .8625rem;
}

.container-7 h6{
  color: black;
  margin-top: 0;
  font-size: 1rem;
}

.container-7 a{
  color: var(--color-primary-900);
  line-height: 250%;
  font-size: 1rem;
  opacity: .56;
  white-space: nowrap;
}

.container-7 div:nth-of-type(1) img{
  width: 60%;
  opacity: 150%;
}

.container-7 div:nth-of-type(4) img{
  width: 10rem   ;
  text-align: center;
  align-items: center;
}

          /* Animation */

@keyframes name {
  0%{
  }
  100%{
  }
}

          /* Responsive */
@media screen and (max-width:924px) {

  /* nav .mobile */

  .container-1 nav.mobile {
    display: flex;
  }

  /* .container-1 */

.container-1 nav img{
  width: 10em;
}

  .container-1 nav {
    display: none;
  }

  .container-1 main {
    margin-top: 6.5rem;
  }

  .container-1 main{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .container-1 main img {
    margin-top: 5rem;
    padding-left: 0;
    /* margin-right: -13%; */
    transform: translateX(7%);
  }

  .container-1 main > *,
  .container-1 main section{
    padding: 0;
    width: 100%;
    max-width: 40rem;
  }

  /* .container-2  */

  .container-2 {
    flex-direction: column;
    text-align: center;
  }

  .container-2 > * {
    max-width: 40rem;
    padding: 0%;
  }

  .container-2 > .price {
    padding: 0%;
  }

  /* .container-3 */

  .container-3 > div {
    max-width: 40rem;
    grid-template: auto / 1fr 1fr;
    gap: 1rem;
  }
  .container-3 {
    padding-top: 0%;
  }

  /* .container-4  */

  .container-4 {
    padding-top: 0%;
    max-width: 40rem;
  }

  /* .container-6  */

  .container-6 > div{
    flex-wrap: wrap;
    
  }

  /* .container-7 */

  .container-7 > div {
    padding: 0;
    text-align: center;
    align-items: center;
    max-width: 20rem;
  }

  .container-7 > div:last-of-type {
    align-items: center;
    display: block;
  }

  .container-7 > div > div {
    max-width: unset;
  }

  .container-7 > div > div:last-of-type{
    margin-left: auto;
  }

  .container-7 > div:last-of-type > div {
    margin: 0%;
  }

  .container-7 > div:last-child > div:last-child > h6{
    margin-top: 2rem;
  }
}

@media screen and (max-width:642px) {
  .container-5 {
    display: grid;
    grid-template: auto / 1fr 1fr;
  }

  .container-4 > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-4 > div > div {
    max-width: 15rem;
  }

  .container-7:not(img) {

    display: grid;
    grid-template: auto / 1fr 1fr ;
    text-align: center;
    justify-items: center;
  }
  .container-7 div:nth-of-type(4) h6:last-of-type{
    margin-top: 2rem;
  }
}

@media screen and (max-width:412px) {

  .container-7:not(img) {
    grid-template: auto / 1fr ;
  }

  .container-2 .price {
    gap: .5rem;
  }

  h1{
    font-size: 2.5rem;
  }


}

@media screen and (min-width:calc(1920px * calc(1 + 1/2) - 100px)) {
  html{
    font-size: calc(16px * calc(1 + 1/2));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/3) - 200px)) {
  html{
    font-size: calc(16px * calc(1 + 1/3));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/1) - 300px)) {
  html{
    font-size: calc(16px * calc(1 + 1/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 2/1) - 400px)) {
  html{
    font-size: calc(16px * calc(1 + 2/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 3/1) - 500px)) {
  html{
    font-size: calc(16px * calc(1 + 3/1));
  }
}

          /* Custom-Scrollbar */

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-900);
}